<div>

<h1>LangyLearny is a language game, as you may have figured! It was developed during the Learn IT, Girl! program by Mary and Dominika, so it shall be amazing!</h1>

</div>

<% if flash[:notice].present? %>
	<div class="alert alert-success" role="alert" >
		<%= flash[:notice] %>
	</div>
<% end %>

<button class="btn btn-primary">Sign up</button>

<button>Sign in</button>

<button>New here? Let's get started?</button>
