body
{
	background: url("leaves.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#first
{
	border: 2px solid black;
	background-color: #66ff66;
	padding: 5px 5px 5px 10px;
}

#container
{
	height: 500px;
	width: 100%;
}

#second
{
	border: 2px solid black;
	background-color: #66ff66;
	padding: 5px 5px 5px 10px;
}

#text
{
	border: 1px solid black;
	background-color: #ffffcc;
	width: 40%;
	height: 488px;
	padding: 5px;
	-webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
	column-gap: 40px;
	-moz-column-fill: auto;
       column-fill: auto;
	display: inline-block;
	float: left;
}

#text2
{
	border: 1px solid black;
	background-color: #ffffcc;
	width: 40%;
	padding: 5px;
	margin-left: 3px;
	height: 388px;
	display: inline-block;
	float: left;
}

table
{
	border: 1px solid black;
	width: 80%;
	text-align: left;
	border-collapse: collapse;
}


#firstrow
{
	background-color: #b2b2b2;
	border: 1px solid black;
	padding: 5px;
}

.cells
{
	border: 1px solid black;
	padding: 5px;
}

tr:nth-child(even)
{
	background-color: #f1f6f6;
}

tr:nth-child(odd)
{
	background-color: #cccccc;
}