<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <table class="table table-striped" id="grammar-categories-list">
      <thead>
        <tr>
          <th>Grammar Categories</th>
        </tr>
      </thead>
      <tbody>
        <% @grammar_categories.each do |c| %>
          <tr>
            <td>
            	<%= link_to c.name, grammar_category_url(c) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

