<div class="row">
  <div class="col-md-8 col-md-offset-2 grammar-category-view">
    <h2 class = "title-on-page"><%= @vocabulary_category.name %></h2>
    <div class="grammar-content">
      <%= @vocabulary_category.content.html_safe %>
    <div>
        <% @category_items.each do |c| %>
            	<%= image_tag c.image_url(:thumb), class: "modal_image", data: {id: c.id} %>
          <% end %>
      </div>
      </div>
  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
</div>