<div class="row">
  <div class="col-md-6 col-md-offset-3 grammar-category-view">
    <h2><%= @vocabulary_category.name %></h2>
    <div class="grammar-content">
      <%= @vocabulary_category.content.html_safe %>
    <div>
  </div>
</div>

