#grammar-categories-list {

  th {
    text-align: center;
    font-size: 28px;
    font-family: Century Gothic, sans-serif;
    background-color: #D7F9FA;
  }

  td {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    background-color: #5CEBED;
  }
}

.category-name {
  color: #000000;
}
