#welcome
{	
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	text-align: center;
	h2
	{
		line-height: 40px;
	}
}

.btn.bhome
{
	margin-bottom: 50px;
	margin-top: 50px;
	font-size: 15px !important;
	width: 230px;
  padding: 10px 20px;
}

.alert {
  text-align: center;
}

h1 {
  text-align: center;
}

