.link-questions {
  	text-align: center;
}

.storage {
	visibility: hidden;
}

#report {
	display: none;
	text-align: center;
	color: #FF0000;
	font-size: 16px;
	margin-bottom: 20px;
}

.individual-question {
	text-align: center;
}

.content-text {
	font-family: Impact, Charcoal, sans-serif;

	font-size: 18px;
}

.right-answered {
	color: #30D60F;
}

.wrong-answered {
	color: #FC0A0A;
}